In [2]:
import pandas as pd
from debugpy.adapter.components import missing

df = pd.read_csv("../data/order.csv")

In [5]:
def assert_in_range(s, lo= None, hi = None, name = "value"):
    x = s.dropna()
    if lo is not None:
        assert (x >= lo).all(), f"{name} below {lo}"
    if hi is not None:
        assert (x <= hi).all, f"{name} above {hi}"

In [24]:
s=pd.read_parquet("../data/processed/analytics_table.parquet")

In [25]:
s

,order_id,user_id,amount,quantity,created_at,status,status_clean,amount__isna,quantity__isna,data,year,month,dow,hour,country,signup_date,amount_winsor,amount__is_outlier
0,A4434,0021,479.46,6,2025-10-06 15:00:00+00:00,refunded,refund,False,False,2025-10-06,2025.0,2025-10,Monday,15.0,AE,2025-01-08,479.46,False
1,A0177,0677,124.64,4,2025-06-15 01:35:00+00:00,Refunded,refund,False,False,2025-06-15,2025.0,2025-06,Sunday,1.0,AE,2025-08-29,124.64,False
2,A2972,0763,NaN,4,2025-11-14 23:05:00+00:00,Refunded,refund,True,False,2025-11-14,2025.0,2025-11,Friday,23.0,SA,2025-09-28,NaN,False
3,A2288,0197,397.26,7,2025-10-16 20:04:00+00:00,Paid,paid,False,False,2025-10-16,2025.0,2025-10,Thursday,20.0,QA,2025-03-11,397.26,False
4,A3985,0460,374.25,1,2025-01-16 03:21:00+00:00,Pending,pending,False,False,2025-01-16,2025.0,2025-01,Thursday,3.0,AE,2025-06-13,374.25,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5245,A4359,0728,325.60,5,2025-07-06 10:15:00+00:00,Refunded,refund,False,False,2025-07-06,2025.0,2025-07,Sunday,10.0,AE,2025-09-16,325.60,False
5246,A2386,0289,90.63,3,2025-12-16 01:16:00+00:00,paid,paid,False,False,2025-12-16,2025.0,2025-12,Tuesday,1.0,AE,2025-04-13,90.63,False
5247,A2828,0228,389.80,3,2025-08-21 15:00:00+00:00,Paid,paid,False,False,2025-08-21,2025.0,2025-08,Thursday,15.0,QA,2025-03-22,389.80,False
5248,A0014,0577,156.48,2,2025-12-19 10:54:00+00:00,refunded,refund,False,False,2025-12-19,2025.0,2025-12,Friday,10.0,SA,2025-07-24,156.48,False
5249,A0473,0332,47.40,1,2025-06-09 00:31:00+00:00,refund,refund,False,False,2025-06-09,2025.0,2025-06,Monday,0.0,AE,2025-04-28,47.40,False

In [ ]:
def bootstrap_diff_means(a, b, n_boot=2000, seed=0):
    d = df.assign(is_refund=df["status_clean"].eq("refund"))

    a = d.loc[d["country"].eq("SA"), "is_refund"].astype(int)
    b = d.loc[d["country"].eq("AE"), "is_refund"].astype(int)

    print("n_SA:", len(a), "n_AE:", len(b))

In [28]:
print(s["status_clean"].eq(s["is_refund"]))

KeyError: 'is_refund'

In [3]:
import plotly.express as px

d = revenue_by_country.sort_values("revenue", ascending=False)
fig = px.bar(d, x="country", y="revenue", title="Revenue by country (All time)")
fig.update_layout(title={"x": 0.02}, margin={"l": 60, "r": 20, "t": 60, "b": 60})
fig.update_xaxes(title_text="Country")
fig.update_yaxes(title_text="Revenue")
fig

AssertionError: Missing columns: ['d']