In [1]:
import pandas as pd
from debugpy.adapter.components import missing

df = pd.read_csv("../data/order.csv")

In [5]:
def assert_in_range(s, lo= None, hi = None, name = "value"):
    x = s.dropna()
    if lo is not None:
        assert (x >= lo).all(), f"{name} below {lo}"
    if hi is not None:
        assert (x <= hi).all, f"{name} above {hi}"

In [3]:
s=pd.read_parquet("../data/processed/orders_clean.parquet")

In [4]:
s

,order_id,user_id,amount,quantity,created_at,status,status_clean,amount__isna,quantity__isna
0,A4434,0021,479.46,6,2025-10-06T15:00:00Z,refunded,refund,False,False
1,A0177,0677,124.64,4,2025-06-15T01:35:00Z,Refunded,refund,False,False
2,A2972,0763,NaN,4,2025-11-14T23:05:00Z,Refunded,refund,True,False
3,A2288,0197,397.26,7,2025-10-16T20:04:00Z,Paid,paid,False,False
4,A3985,0460,374.25,1,2025-01-16T03:21:00Z,Pending,pending,False,False
...,...,...,...,...,...,...,...,...,...
5245,A4359,0728,325.60,5,2025-07-06T10:15:00Z,Refunded,refund,False,False
5246,A2386,0289,90.63,3,2025-12-16T01:16:00Z,paid,paid,False,False
5247,A2828,0228,389.80,3,2025-08-21T15:00:00Z,Paid,paid,False,False
5248,A0014,0577,156.48,2,2025-12-19T10:54:00Z,refunded,refund,False,False
5249,A0473,0332,47.40,1,2025-06-09T00:31:00Z,refund,refund,False,False

In [3]:
missing = ["d"] # true
assert not missing, f"Missing columns: {missing}"

AssertionError: Missing columns: ['d']